@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.gradient-bg {
  background: linear-gradient(
    to top left,
    #f1edfd 0%,
    #b9aff7 38%,
    #7261ef 100%
  );
}
.value-gradient-text {
  background: linear-gradient(to right bottom, #7f52ff, #fb8570);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-right-bottom {
  background: linear-gradient(to right bottom, #703be7, #ffa899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-right-top {
  background: linear-gradient(to right top, #703be7, #ffa899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-border {
  border: double transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.buat-video-button {
  border-radius: 200px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #ededed, #d6d6d6);
}
.badge {
  border-width: 1px;
  border-radius: 200px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right bottom, #7f52ff, #4c3199);
  height: 1.75rem;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 11px;
  gap: 7px;
  font-size: 0.875rem;
  color: #703be7;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}
.bento-card {
  border-radius: 0.75rem;
  background-color: #f5f5f9;
  text-align: left;
}
.bento-card > div {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.partner-logos {
  display: flex;
  animation: infiniteScroll 20s linear infinite;
}
.active-step p:first-of-type {
  background: linear-gradient(to right bottom, #7f52ff, #fb8570);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.scroll-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
